main {
    min-height: 100vh;
    background-color: #f7ecde;
    overflow: hidden;
}



h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px !important;
    color: #352e28;
    margin-top: 55px !important;
    position: relative;
    width: fit-content;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        background-color: #fec260;
        height: 20px;
        width: 101%;
        left: 0;
        bottom: 1px;
        z-index: -1;
        transition: height 0.2s linear;
    }

    &:hover::after {
        height: 40px;
    }
}



h2 {
    font-family: "Righteous", cursive;
    font-size: 25px !important;
    width: fit-content;
    margin-top: 90px !important;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
}



form {

    position: relative;

    .form-control:focus {
        border-color: #b5ac49 !important;
        box-shadow: 0 0 0 .25rem #e8e2a6 !important;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        border-top: 2px dotted black;
        width: 100%;
        top: -101px;
    }

    &::after {
        bottom: 22px;
        left: 0;
        border-bottom: 2px dotted black;
    }

    label {
        font-family: "PT Sans Caption", sans-serif;
        font-size: 16px;
        color: #212529;
    }
}



.w-90 {
    width: 98%;
}